@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&family=Poppins:wght@300&family=Work+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

button{
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: 500;
    background:rgb(112, 85, 248);
    color: white;
    border-radius: 10px;
    border: none;
}

input{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}